* {
  font-family= Verdana;
  color: white;
  background-color: black;
  align-items: center;
  text-align: center;
}

header {
  font-weight= normal;
  font-size= 50px;
}

a {
  color: aquamarine;
  font-size: 16px;
}

h2 {
  font-weight: 300;
  font-size: 42px;
}

p #flavor-text {
  font-size: 21px;
  color: Gray;
}

#logo {
  color: Gray;
  text-align: right;
}
